{% extends "auctions/layout.html" %}

{% block body %}

  <h2>Listing with ID of 
    <strong>
      <u>{{ listing_id }}</u>
    </strong> 
  </h2>

  {% if listing %}
    <table class="table table-striped table-bordered table-dark">
        <thead>
            <tr>
                <th>L/N</th>
                <th>Title</th>
                <th>Description</th>
                <th>Starting Bid</th>
                <th>Highest Bid</th>
                <th>Created On</th>
                <th>Created By</th>
                <th>Categories</th>
                <th>Image</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ listing.id }}</td>
                <td>{{ listing.title }}</td>
                <td>{{ listing.description }}</td>
                <td>${{ listing.starting_bid | floatformat:2 }}</td>
                <td>${{ highest_bid | floatformat:2 }} by <u>{{ highest_user }}</u></td>
                <td>{{ listing.creation_date }}</td>
                <td>{{ listing.creation_user.username }}</td>
                <td>{{ listing.categories }}</td>
                <td>
                    <img src={{ listing.image_url }} height="200px" width="200px" />
                </td>
            </tr>
        </tbody>
    </table>

    {% if user.is_authenticated %}
    
      {% if is_in_watchlist %}
        <a href="{% url 'watchlistdelete' listing.id %}">
          <button type="button" class="btn btn-danger">
            Remove From Watchlist
          </button>
        </a>
      {% else %}
        <a href="{% url 'watchlistadd' listing.id %}">
          <button type="button" class="btn btn-primary">
            Add To WatchList
          </button>
        </a>
      {% endif %}
      <hr />

      <form action="{% url 'addcomment' listing.id %}" method="post">

        {% csrf_token %}

        <div class="form-group">
          <label for="comment">Submit a comment for this listing:</label>
          <textarea
            class="form-control" 
            id="comment" 
            name="comment"
            rows="4" 
            cols="50"
            autofocus
          ></textarea> 
        </div>

        <button type="submit" class="btn btn-info">
          Submit Comment
        </button>
      </form>
      <hr />

    {% endif %}

    {% if comments %}
        <h3><u>Comments:</u></h3>
        <div>
          <ol>
            {% for comment in comments %}
              <li>
                <h4>User: {{ comment.comment_user.username }}</h4>
                <ul>
                  <li> {{ comment.comment_text }}</li>
                </ul>
              </li>
              <br />
            {% endfor %}
          </ol>
        </div>
    {% else %}
        <h3>No comments available.</h3>
    {% endif %}

  {% endif %}

{% endblock %}
